@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
  box-sizing: border-box;
}

/* body {
    padding: 0;
    margin: 0;
    background-color: #2F303A;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: rgb(107, 36, 36);
    min-height: 100vh;
} */

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}




